html {
  width: 100%;
  height: 100%;
}

.newQuestion {
  width: calc(100% / 3);
  margin-left: calc(100% / 3);
  margin-right: calc(100% / 3);
}

.inputArea {
  width: 100%;
}

header{
  width: 100%;
  height: 15%;
  background-color: #FF4081;
}

main {
  width: 100%;
  height: 70;
  background-color: #F50057;
}

footer {
  width: 100%;
  height: 15%;
  background-color: #C51162;
}
